*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{margin:0}h1,h2,h3,h4,h5,h6{margin:0}ol,p,ul{padding:0;margin:0}a:active,a:hover{outline:0}b,strong{font-weight:700}img{max-width:100%;vertical-align:middle;display:inline-block;border:0}:focus{outline:0}button,input,select,textarea{margin:0;padding:0;font:inherit;color:inherit;border:none;outline:none}input,select,textarea{-webkit-appearance: none;}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}textarea{overflow:auto}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #32313F;
}

h1 {
  margin-bottom: 37px;  
  font-size: 44px;
  line-height: 59px;
  font-weight: 700;
}

h2 {  
  font-size: 36px;
  line-height: 44px;  
  font-weight: 600;
  text-align: center;
}

a {
  color: #32313f;
  text-decoration: none;
}

.container {
  width: 1120px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.yellow {
  color: #F8DA3A;
}

/*.text-field:-ms-input-placeholder {
  color: #000;
}

.text-field::-ms-input-placeholder {
  color: #000;
}*/

::-webkit-input-placeholder {color: #000;}
:-moz-placeholder {color: #000;}
:focus::-webkit-input-placeholder {visibility: hidden;}
:focus:-moz-placeholder {visibility: hidden;}


/*-- Header --*/
header {
  padding: 110px 0 72px;
  background-color: #fde151;
  position: relative;
}

header .container {
  position: relative;
  width: 1100px;
}

header .container:before {
  content: '';
  position: absolute;
  top: -110px;
  left: -20px;
  width: 437px;
  height: 41px;  
  background-image: url("../images/wave-header.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

nav {
  margin: 0 auto 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

nav .container {
  display: flex;  
  justify-content: space-between;  
  align-items: flex-start;
}

.nav__logo {  
  padding-top: 13px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.nav__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 108px;
  margin-top: -23px;
  padding-top: 20px;
  padding-right: 8px;
  padding-left: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 56px;
  background-color: #f3f4f9;
}

.text-block {
  margin-right: 2.3vw;
  color: #32313f;
  font-size: 12px;
  line-height: 15px;
}

.span {
  color: #b5b4c2;
  font-weight: 500;
}

.header__box {
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 590px;
  margin-right: 50px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header__form {
  position: relative;
  width: 98.5%;
  margin-bottom: 37px;
  padding: 30px 17px 38px;
  border-radius: 29px;
  background-color: #fdfdfd;
  z-index: 3;
}

.text-block-2 {
  margin-bottom: 22px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.text-field {
  width: 175px;
  height: 40px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-left: 25px;
  float: left;
  border: 1px none #000;
  border-radius: 22px;
  background-color: #f4f4f4;
  color: #000;
  font-size: 18px;
  text-align: center;
}

.text-field.first {
  margin-right: 16px;
}

.div-block-3 {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  width: 145px;
  height: 40px;
  float: right;
  padding: 9px 15px;
  border-radius: 22px;
  color: #fff;
  background-color: #32313f;
  font-weight: 600;
  text-align: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 90px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
}

.image-2 {
  width: 96px;
  margin-right: 10px;
}

.text-block-3 {
  color: #32313f;
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
}

.header__couch {
  position: absolute;
  left: -10px;
  top: 180px;
  bottom: auto;
  z-index: 2;
  width: 520px;
  max-width: 100%;
}

.header__dots {
  position: absolute;
  left: 22px;
  top: 69px;
  right: auto;
  bottom: auto;
  z-index: 0;
}

.header__master {
  position: absolute;
  left: -15px;
  top: -76px;
  z-index: 1;
}

.header__gift {
  width: 75px;
  margin-top: -10px;
  margin-right: 20px;
  -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
}

.nav__link-box {
  display: none;  
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}


/*-- Reason Section --*/
.reason {
  padding: 40px 0 45px;
  position: relative;
  overflow: hidden;
}

.reason__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
  position: relative;
}

.reason__center {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border: 45px solid #F5F4F9;
  border-radius: 50%;
  z-index: -1;
}

.reason__box {  
  display: flex;
  align-items: end;
  position: relative;
}

.reason__box:nth-child(1) {
  width: 41%;  
  padding-left: 90px;
  order: 1;
}

.reason__box:nth-child(2) {
  width: 34%;
  order: 3;
}

.reason__box:nth-child(3) {
  width: 41%;
  order: 2;
}

.reason__box:nth-child(4) {
  width: 34%;
  order: 4;
}

.reason__box:nth-child(5) {
  align-items: flex-end;
  width: 41%;
  padding-left: 150px;
  order: 5;
}

.reason__box:nth-child(6) {
  width: 41%;
  padding-right: 50px;
  order: 6;
}

.reason__box:nth-child(2) {
  margin-bottom: 30px;
}

.reason__box:nth-child(3) {
  margin-bottom: 40px;
}

.reason__box:nth-child(1),
.reason__box:nth-child(2),
.reason__box:nth-child(5) {
  text-align: right;
}

.reason__box:nth-child(3),
.reason__box:nth-child(4),
.reason__box:nth-child(6) {
  text-align: left;
}

.reason__box:nth-child(5),
.reason__box:nth-child(6) {
  flex-direction: column;
}

.reason__box img {
  width: 73px;
}

.reason__box:nth-child(1) img,
.reason__box:nth-child(2) img {
  margin-left: 30px;
  order: 2;
}

.reason__box:nth-child(3) img,
.reason__box:nth-child(4) img {
  margin-right: 30px;
}

.reason__box:nth-child(5) img,
.reason__box:nth-child(6) img {
  margin-bottom: 25px;
}

.reason__box h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.reason__box p {
  font-size: 18px;
  line-height: 23px;
}



/*-- Order Section --*/
.order {
  position: relative;
  padding: 40px 0 22px;
  background: #F8DA3A;  
}

.order:before, .order:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 11vw;  
  background-image: url("../images/wave.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.order:before {
  top: 0;
  display: none;
}

.order:after {
  bottom: -1px;
  transform: rotate(180deg);
}

.order__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.order__box {
  width: 27%;
  position: relative;
  z-index: 1;
}

.order__box:nth-child(2) {
  width: 24%;
}

.order__number {
  font-weight: 500;
  font-size: 55px;
  line-height: 67px;
  margin-bottom: 15px;
}

.order__box:nth-child(1) img,
.order__box:nth-child(3) img {
  position: absolute;
  right: 0;
}

.order__box:nth-child(1) img {
  bottom: -135px;
}

.order__box:nth-child(3) img {
  bottom: -155px;
}

.order__box:nth-child(2) img {
  display: block;
  margin: 75px 0 -60px auto;
}

.order__box p {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
}



/*-- Advantages Section --*/
.advantages {
  padding: 65px 0 35px;
  overflow: hidden;
}

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 30px;
}

.advantage__box {
  width: 28%;
  margin-top: 35px;
}

.advantage__image-box {
  position: relative;
  max-width: 217px;
}

.advantage__box:nth-child(1) .advantage__image-box:before,
.advantage__box:nth-child(3) .advantage__image-box:before,
.advantage__box:nth-child(4) .advantage__image-box:before,
.advantage__box:nth-child(6) .advantage__image-box:before {
  content: '';
  position: absolute;
  width: 113px;
  height: 113px;
  background: url('../images/grey-dots.svg') 0 0 no-repeat;
  background-size: cover;
  z-index: -1;
}

.advantage__box:nth-child(1) .advantage__image-box:before
/*.advantage__box:nth-child(1n+7) .advantage__image-box:before*/ {  
  top: 0;
  left: -30px;
}

.advantage__box:nth-child(3) .advantage__image-box:before
/*.advantage__box:nth-child(3n+7) .advantage__image-box:before*/ {  
  bottom: 0;
  right: -60px; 
}

.advantage__box:nth-child(4) .advantage__image-box:before
/*.advantage__box:nth-child(4n+7) .advantage__image-box:before*/ {  
  bottom: -9px;
  left: -30px;
}

.advantage__box:nth-child(6) .advantage__image-box:before
/*.advantage__box:nth-child(6n+7) .advantage__image-box:before*/ {  
  top: 0;
  right: -60px;
}

.advantage__box h3 {
  margin: 25px 0 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000;
}

.advantage__box p {
  font-size: 19px;
  line-height: 23px;
}



/*-- Works Section --*/
.works {
  padding: 70px 0 110px;
  overflow: hidden;
}

.works__tabs {
  margin-top: 50px;
}

.tab__wrapper {
  position: relative;
}

.tabs__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 85px;
}

.tabs__menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47%;
  max-width: 225px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 200px;
  background-color: #C4C4C4;
  cursor: pointer;
}

.tabs__menu li.active {
  background-color: #F8DA3A;
}

.tab__content {
  height: 0;
  opacity: 0;  
}

.tab__content .slick-list {
  position: relative;
}

.tab__content .slick-list:before,
.tab__content .slick-list:after {
  content: '';
  position: absolute;  
  width: 113px;
  height: 113px;
  background: url('../images/grey-dots.svg') 0 0 / contain no-repeat;  
  z-index: -1;
}

.tab__content .slick-list:before {
  bottom: -50px;
  right: 260px;
}

.tab__content .slick-list:after {
  bottom: -84px;
  right: 362px;
}

.tab__content.active {
  height: auto;
  opacity: 1;
}

.tab__nav-box {
  display: none;
  position: absolute;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 266px;
  height: 228px;
  right: 602px;
  bottom: -100px;
  padding: 40px 35px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  z-index: -1;
}

.tab__nav-box.active {
  display: flex;
}

.works .slick-track {
  display: flex;
  align-items: center;  
}

.works .slick-slide {
  width: 481px;
  height: 286px;
  background: 50% 50% / cover no-repeat;
  border-radius: 50px;
  transform: scale(.6);
  transition: all .5s cubic-bezier(.4,0,.2,1);
}

.works .slick-slide.slick-current {
  margin: 0;
  transform: scale(1);
}

.tabs__content .slick-arrow {
  position: absolute;
  bottom: -63px;
  z-index: 10;
}

.tabs__content .slick-prev {
  right: 740px;
}

.tabs__content .slick-next {
  right: 700px;
}



/*-- Calculator Section --*/
.calc {
  padding: 85px 0 120px;
  overflow: hidden;
}

.calc .container {
  display: flex;
  justify-content: space-between;
}

.calc__box {
  position: relative;
  width: 51%;
}

.calc__box:after, .calc__form:before {
  content: '';
  position: absolute;
  width: 175px;
  height: 243px;  
  background: #F8DA3A;
  border-radius: 50px;
  z-index: -1;
}

.calc__box:after {
  left: 60px;
  bottom: -26px;
}

.calc__box h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 25px;
}

.calc__box p { 
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 55px;
}

.calc__box img {
  padding-left: 120px;
  z-index: -1;
}

.calc__form {
  position: relative;
  width: 425px;
  margin-top: 10px;
  padding: 45px 35px 40px;
  background: #32313F;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: #fff;
}

.calc__form:before {
  display: none;
  right: -20px;
  top: -20px;
}

.calc__form:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -65px;
  width: 138px;
  height: 202px;
  background: url('../images/calc-dots.svg');
  z-index: -1
}

.calc__form .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 45px;
}

.calc__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px; 
}

.calc__value select, .calc__value input {    
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #32313F;
  border: none;  
}

.calc__value select {
  width: 170px;
  padding: 8px 13px;
  background: url('../images/select-arrow.png') 95% 50% no-repeat #F8DA3A;
}

.calc__value input {
  width: 65px;
  padding: 8px 0 8px;
  background: #F8DA3A;
  text-align: center;
}

.calc__value p, .calc__total-box p {
  flex-shrink: 0;
  margin-right: 15px;
  font-size: 24px;
  line-height: 29px;
}

.calc__value span {
  width: 25px;
}

.calc__total-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.calc__total-box p {
  font-weight: 500;
}

.calc__form button {
  display: block;
  margin: 0 auto;
  padding: 17px 65px;  
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  text-align: center;
  color: #32313F;
  background: #F4F4F4;
  border-radius: 22px;
}

.calc__total {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
}



/*-- Timer Section --*/
.timer {
  padding-bottom: 220px;
  position: relative;
  overflow: hidden;
}

.timer:after {
  content: '';
  position: absolute;
  width: 524px;
  height: 524px;
  top: 80px;
  right: -145px;
  background: #F6F5FA;  
  border-radius: 50%;
  z-index: -3;
}

.timer:before {
  content: '';
  position: absolute;
  top: -120px;
  left: -600px;
  width: 1194px;
  height: 1125px;
  background: url('../images/ellipse.svg');
  background-repeat: no-repeat;
  z-index: -2;
}

.timer__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto 170px;
  padding-left: 15px;
  background: linear-gradient(86.68deg, #FFFFFF 48.72%, #FFFFFF 94.89%);
  border: 17px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.timer__wrapper:before {
  content: '';
  position: absolute;
  width: 175px;
  height: 182px;
  bottom: -76px;
  left: -75px;
  background: url('../images/timer-dots.svg');
  z-index: -1
}

.timer__box {
  display: flex;
  align-items: baseline;
}

.timer__left {
  margin: -10px 15px 10px 0;
  font-size: 19px;
  line-height: 23px;  
  color: #B5B4C2;
}

.first-my .result .res {
  padding: 9px 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 3px;
  margin-bottom: 5px;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  background: #D8D8D8;
  border-radius: 5px;
}

.first-my .result .separator {
  font-size: 19px;
  line-height: 23px;
  margin-right: 3px;
  color: #B5B4C2;
}

.first-my .titles span {
  font-size: 13px;
line-height: 15px;
}

.mm {
  margin-left: 12px;
}
.ss {
  margin-left: 9px;
}

.timer__wrapper:after {
  content: '';
  position: absolute;
  border: 6px solid #F8DA3A;
  width: 88%;
  bottom: -43px;
  left: 5%;
  height: 100%;
  border-radius: 24px;
  z-index: -2;
}

.timer form {
  width: 175px;
}

.timer form input {  
  width: 100%;
  height: 36px;
  margin-bottom: 15px;
  padding: 0 0;
  background: #FFFFFF;
  border-radius: 30px;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.timer form input::placeholder {
  color: #000;
}

.timer input[type="submit"] {
  height: 39px;
  margin-bottom: 8px;
  background: #F8DA3A;
  font-weight: 600;  
}

.timer__form {
  width: 51%;
  position: relative;
}

.timer__form:before {
  content: '';
  position: absolute;
  width: 72px;
  height: 72px;  
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  background-image: url("../images/timer-form-bg.png");
  background-size: cover;
}

.timer__container h4 {
  margin: 0 0 40px 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.timer__form {
  padding: 20px 20px 15px 140px;
  background: #32313F;
  border-radius: 143px 5px 5px 143px;
}

.timer__form p {
  width: 108%;
  margin-left: -10px;
  font-size: 9px;
  line-height: 11px;
  font-weight: 300;
  text-align: center;
  color: #B5B4C2;
}


/*-- Reviews --*/
.reviews {
  position: relative;
}

.review:before, .review:after {
  content: '';
  position: absolute;
  width: 113px;
  height: 113px;
  right: 0;
  bottom: -55px;
  background: url(../images/grey-dots.svg) 0 0 no-repeat;
  background-size: cover;
  z-index: -1;
}

.review:before {
  display: none;
}

.reviews__wrapper {
  margin-top: 70px;
}

.review__box h4 {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 29px;
  line-height: 29px;
  font-weight: bold;
  color: #000000;
}

.review__box p {
  max-width: 82%;
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 25px;
  color: #000000;
}

.review__image {
  position: absolute;
  top: -25px;
  left: -40px;
  margin-bottom: -65px;
}

.review__rating {
  display: flex;
}

.review__rating span {
  width: 41px;
  height: 39px;
  margin-right: 1px;
  -webkit-clip-path: polygon(50% 2%, 60% 39%, 98% 39%, 68% 62%, 80% 98%, 50% 76%, 21% 98%, 32% 62%, 2% 39%, 40% 39%);
          clip-path: polygon(50% 2%, 60% 39%, 98% 39%, 68% 62%, 80% 98%, 50% 76%, 21% 98%, 32% 62%, 2% 39%, 40% 39%);
  background: #F8DA3A;  
}

.reviews .slick-track {
  display: flex;
  align-items: flex-start;
}

.reviews .slick-slide {
  position: relative;
  display: flex;
  align-items: end;
  max-width: 45vw;
  margin-top: 15px;
  padding: 50px 25px 25px 120px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 90px;
  transform: scale(.6);
  transition: all .5s cubic-bezier(.4,0,.2,1);
}

.reviews .slick-slide.slick-current {
  margin: 0;
  transform: scale(1);
}

.review__image {
  width: 133px;
  transform: translateX(0);
  transform: translateY(0);
}

.review__box p {
  margin-bottom: 30px;  
}

.slick-arrow {
  width: 39px;
  height: 39px;
  font-size: 0;
  border-radius: 50%;
  background: url(../images/arrow.svg) 55% 50% / cover no-repeat;
  background-color: #F8DA3A;
}

.review__nav, .tab__nav {
  margin-right: 30px;
}

.slick-arrow.slick-prev {
  transform: rotateY(180deg);
  margin-right: 15px;
}

.slick-arrow.slick-disabled {
  opacity: .3;
  pointer-events: none;
}

.slick-dots {
  display: flex;
}

.slick-dots li {
  list-style: none;
  margin-right: 15px;
}

.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.slick-dots li.slick-active button {
  background: #F8DA3A;
}

.review__nav-box {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;  
  left: 36vw;
  bottom: -60px;
}

.review__count {  
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #000000;
}

.review__count_total {
  color: #B5B4C2;
}


/*-- Contacts Section --*/
.contacts {
  padding-bottom: 110px;
  position: relative;
}

.contacts:before {
  content: '';
  position: absolute;
  top: 125px;
  right: 0;  
  z-index: -1;
}

.contacts__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 90px;
}

.contacts__content {
  flex-shrink: 0;
}

.contacts__box {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
}

.contacts__box:nth-child(1), .contacts__box:nth-child(2) {
  margin-bottom: 25px;
}

.contacts__box img {
  width: 121px;
  margin-right: 45px;
}

.contacts__phone, .contacts__email, .contacts__address {
  display: inline-block;
  margin-bottom: 10px;
}

.contacts__phone {
  font-size: 36px;
  line-height: 44px;
}

.contacts__email {
  font-size: 28px;
  line-height: 34px;
}

.contacts__email-caption {
  font-size: 16px;
  line-height: 20px;
}

.contacts__address {
  font-size: 25px;
  line-height: 30px;
}

.contacts__map {
  width: 50%;
}

.ymaps-2-1-77-balloon-content__header {
  font-size: 14px !important;
  margin-bottom: 10px !important;
}

.ymaps-2-1-77-balloon__content img {
  float: left;
  margin-right: 15px;
}

.ymaps-2-1-77-balloon__content p {
  line-height: 16px;
}

/*-- Footer --*/
footer {  
  padding: 35px 0;
  text-align: center;
  background: #32313F;
  color: #fff;  
}

footer .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  max-width: 172px;
}

.footer__text {
  margin: -9px 0 9px;
  font-size: 30px;
  line-height: 37px;
}

.footer__copyright {
  font-size: 20px;
  line-height: 24px;
}

.footer__socials a:nth-child(1), .footer__socials a:nth-child(2) {
  margin-right: 21px;
}

.footer__socials img {
  width: 52px;
}


@media screen and (min-width: 1280px) {
  .text-block {
    margin-right: 25px;
  }
  .header__wave {
    height: 11vw;
  }
  .div-block-4 {
    margin-left: 75px;
  }
}

@media screen and (max-width: 1140px) {
  nav .container {
    padding-right: 0px;
  }
  .header__box {
    margin-right: 0;
  }
  .contacts__box img {
    width: 105px;
    margin-right: 20px;
  }

  .reason__box h3 {
    font-size: 1.8vw;    
  }
  .reason__box p {
    font-size: 1.6vw;
    line-height: 2.1vw;
  }

  .tab__nav-box {
    width: 25vw;
    max-width: 266px;
    right: 53vw;
    left: auto;
  }
  .tab__content .slick-list:before, 
  .tab__content .slick-list:after {
    width: 8vw;
    height: 8vw;
  }
  .tab__content .slick-list:before {
    bottom: -5vw;
    right: 23vw;
  }
  .tab__content .slick-list:after {
    bottom: -7.5vw;
    right: 28.4vw;
  }
  .tabs__content .slick-prev {
    right: 66vw;
  }
  .tabs__content .slick-next {
    right: 62vw;
  }

  .review__box p {
    max-width: 100%;
    font-size: 17px;
    line-height: 23px;
  }
  .review__rating span {
    width: 3vw;
    height: 3vw;
  }
  .review:after {
    width: 8vw;
    height: 8vw;
    bottom: -3vw;
  }
}

@media screen and (max-width: 991px) {
  header {
    padding-bottom: 45px;
  }
  .nav__menu {
    margin-top: -16px;
    padding-top: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }  
  .span {
    display: block;
  }
  .header__wave {
    height: 11vw;
  }
  .header__box {
    margin-right: 0px;
    margin-left: 0px;
  }
  .header__form {
    margin-bottom: 0px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  .div-block-4 {
    margin-bottom: 35px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .header__couch {
    position: relative;
    left: 0px;
    top: 0px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .header__dots {
    left: auto;
    top: 148px;
    right: 20px;
    max-width: 160px;
  }
  .header__master {
    width: 123px;
    left: auto;
    top: -15px;
    right: 25px;
  }

  .reason:before {
    content: '';
    position: absolute;
    top: -125px;
    right: -125px;
    width: 265px;
    height: 265px;
    border: 4px solid #FAD93E;
    border-radius: 50%;
    z-index: -1;
  }
  .reason__wrapper {
    margin-top: 50px;
  }  
  .reason__center {
    right: -200px;    
    top: 50%;
    transform: translateY(-50%);
  }
  .reason__center img {
    display: none;
  }
  .reason__box {
    flex-direction: row !important;
    width: 48% !important;
    margin-bottom: 35px;    
    padding: 0 !important;
    text-align: left !important;
  }
  .reason__box:nth-child(1) {        
    order: 1;
  }
  .reason__box:nth-child(2) {
    order: 2;
  }
  .reason__box:nth-child(3) {
    order: 3;
  }
  .reason__box:nth-child(4) {
    order: 4;
  }
  .reason__box:nth-child(5) {
    align-items: flex-start;
    order: 5;    
  }
  .reason__box:nth-child(6) {
    margin-bottom: 0;
    order: 6;    
  }
  .reason__box:nth-child(1) img,
  .reason__box:nth-child(2) img,
  .reason__box:nth-child(5) img,
  .reason__box:nth-child(6) img {
    margin: 0 30px 0 0;
    order: 0;
  }
  .reason__box h3 {
    font-size: 22px;
  }
  .reason__box p {
    font-size: 19px;
    line-height: 23px;
  }

  
  .order__box, .order__box:nth-child(2) {
    width: 30%;
  }
  .order__box p {
    font-size: 18px;
    line-height: 22px;
  }

  .advantage__box {
    width: 31%;
    text-align: center;
  }
  .advantage__image-box {
    width: 120px;
    margin: 0 auto;
  }
  .advantage__box:nth-child(1) .advantage__image-box:before,
  .advantage__box:nth-child(3) .advantage__image-box:before,
  .advantage__box:nth-child(4) .advantage__image-box:before,
  .advantage__box:nth-child(6) .advantage__image-box:before {
    width: 85px;
    height: 85px;
  }
  .advantage__box:nth-child(1) .advantage__image-box:before,
  .advantage__box:nth-child(4) .advantage__image-box:before {
    left: -25px;
  }
  .advantage__box:nth-child(3) .advantage__image-box:before,
  .advantage__box:nth-child(6) .advantage__image-box:before {
    right: -45px;
  }
  .advantage__box h3 {
    margin: 15px 0 10px;
    font-size: 19px;
    line-height: 27px;
  }
  .advantage__box p {
    font-size: 15px;
    line-height: 18px;
  }

  .tabs__menu {
    width: 500px;
    margin: 0 auto 50px;
    max-width: 100%;
  }
  .tabs__menu li {
    margin-bottom: 15px;
  }
  .tab__content .slick-list:before, 
  .tab__content .slick-list:after {
    display: none;
  }
  
  .calc__form {
    padding: 5vw 3vw 4vw;
    width: auto;
  }
  .calc__box:after {
    left: 4vw;
  }
  .calc__box h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .calc__box p {
    font-size: 22px;
  }
  .calc__box img {
    padding-left: 10vw;  
  }
  .calc__value p, .calc__total-box p {
    font-size: 20px;
  }
  
  .timer:before {
    top: 0;
    left: -27vw;
    width: 83%;
    height: 100%;
    background: url(../images/ellipse.svg) 0% 0% / contain no-repeat;
  }
  .timer:after {
    width: 54vw;    
    height: 54vw;
    top: 80px;
    right: -145px;
  }
  .timer__wrapper {
    margin: 0 auto 140px;
  }
  
  .contacts__box {
    font-size: 15px;
    line-height: 18px;
  }
  .contacts__box img {
    width: 85px;
  }
  .contacts__phone {
    font-size: 25px;
    line-height: 30px;
  }
  .contacts__email {
    font-size: 20px;
    line-height: 24px;
  }
  .contacts__email-caption {
    font-size: 12px;
    line-height: 15px;
  }
  .contacts__address {
    font-size: 18px;
    line-height: 22px;
  }

  .reviews .slick-slide {
    max-width: 55vw;
    padding: 150px 25px 25px 25px;
    text-align: center;
  }
  .review__image {
    left: 25%;
  }
  .review__box h4 {
    position: absolute;
    top: 13%;
    right: 25%;
  }
  .review__rating {
    justify-content: center;
  }
  .review__nav-box {
    left: 50%;
    transform: translateX(-50%);
  }

  .footer__text {
    margin-top: 0;
    font-size: 25px;
    line-height: 30px;
  }
  .footer__copyright {
    font-size: 15px;
    line-height: 18px;
  }
  .footer__socials a:nth-child(1), .footer__socials a:nth-child(2) {
    margin-right: 5px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    max-width: 400px;
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 34px;
  }
  h2 {
    font-size: 30px;
    line-height: 36px;
  }
  header {
    padding: 90px 0 45px;
  }
  header .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  nav .container {
    padding-left: 15px;
  }
  .text-block {
    margin-right: 0vw;
    text-align: right;
  }
  .text-block.hide {
    display: none;
  }
  .nav__link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    margin: -5px 10px 0 0;
  }
  .image-9 {
    margin-bottom: 5px;
    width: 24px;
  }
  .nav__link-box a:nth-child(2) {
    width: 22px;
  }
  .header__form {
    width: 100%;
    padding: 20px 10px 15px;
  }
  .text-block-2 {
    font-size: 18px;
    line-height: 22px;
  }
  .text-field {
    margin-bottom: 15px;
    padding-right: 13px;
    padding-left: 13px;
    float: none;
    font-size: 13px;
    line-height: 16px;
  }
  .text-field.first {
    margin-right: 30px;
  }
  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .submit-button {
    width: 215px;
    float: none;
  }
  .div-block-4 {
    max-width: 300px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-3 {
    font-size: 15px;
    line-height: 20px;
  }
  .header__dots {
    right: 15px;
    max-width: 165px;
  }
  .header__gift {
    width: 43px;
    margin-right: 12px;
  }
  
  .reason {
    padding: 40px 0 50px;
  }
  .reason__box {
    flex-direction: row !important;
    width: 100% !important;
  }
  
  
  .order {
    padding: 65px 0 100px;
  }
  .order:before {
    display: block;
  }
  .order__box, .order__box:nth-child(2) {
    width: 45%;
  }
  .order__box img {
    width: 100px;
  }
  .order__box:nth-child(1) img,
  .order__box:nth-child(3) img {
    position: relative;
    display: block;    
    bottom: 0;
  }
  .order__box:nth-child(1) img {
    margin: 50px 0 -55px auto;
  }
  .order__box:nth-child(2) img {
    margin: 50px 0 -60px auto;
  }
  .order__box:nth-child(3) img {
    margin: 25px 0 -78px auto;
  }

  .advantages__wrapper {
    padding-left: 0;
  }
  .advantage__box {
    width: 49%;
    max-width: 300px;
  }
  .advantage__image-box {
    width: 75px;
    flex-shrink: 0;
  }
  .advantage__image-box:before {
    content: '';
    position: absolute;
    width: 45px !important;
    height: 45px !important;
    left: -15px !important;
    top: -5px !important;
    background: url(../images/grey-dots.svg) 0 0 no-repeat;
    background-size: cover;
    z-index: -1;
  }
  
  .tab__content .slick-list:before,
  .tab__content .slick-list:after {
    content: '';
    position: absolute;  
    width: 13vw;
    height: 13vw;
    background: url('../images/grey-dots.svg') 0 0 no-repeat;
    background-size: contain;
    z-index: -1;
  }
  .tab__content .slick-list:before {
    top: -5.5vw;
    right: 9vw;
  }
  .tab__content .slick-list:after {
    bottom: -5.5vw;
    left: 10vw;
  }
  .tab__content .slick-list {
    margin-bottom: 20px;
  }
  .tab__nav-box {
    display: none !important;
  }
  .tabs__content .slick-arrow {
    left: auto;
    top: 45% !important;
  }

  .works {
    padding: 35px 0 40px;
  }  
  .works .slick-slide {
    width: 70vw;
    height: 40vw;
    transform: scale(1);
    margin: 0 15vw !important;
    border-radius: 10vw;
  }
  
  .calc {
    padding: 40px 0 80px;
  }
  .calc .container {
    flex-direction: column;
  }
  .calc__form {
    max-width: 425px;
    margin: 0 auto;
    padding: 45px 30px 40px;
  }
  .calc__form:after {
    bottom: -62px;
    left: -50px;
    transform: rotatez(-90deg) rotateX(180deg);
  }
  .calc__box {
    width: 100%;
  }
  .calc__box h2 {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
  .calc__box p {
    margin-bottom: 45px;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
  }
  .calc__box img {
    display: none;
  }  
  .calc__box:after {
    display: none;
  }  
  .calc__form:before {
    display: block;
  }
  .calc__form p {
    font-size: 18px;
    line-height: 22px;
  }
  
  .timer {
    padding-bottom: 120px;
  }
  .timer:before {
    width: 565px;
    height: 100%;
    top: 10vw;
    left: -100px;
  }
  .timer:after {
    display: none;
  }
  .timer__wrapper {
    max-width: 350px;
    flex-direction: column;
    padding: 30px 0 0;
  }
  .timer__wrapper:before {
    display: none;
  }
  .timer__wrapper:after {
    width: 93%;
    height: 93%;
    right: -39px;
    left: auto;
  }
  .timer__container {
    margin-bottom: 25px;
    padding: 0 10px;
  }
  .timer__container h4 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  .timer__box {
    flex-wrap: wrap;  
    justify-content: center;
  }
  .timer__form {
    width: 100%;
    padding: 100px 0 20px;
    border-radius: 103px 103px 5px 5px;
  }
  .timer__form p {
    margin: 0;
  }
  .timer form {
    margin: 0 auto;
  }
  .timer__form:before {
    top: 15px;
    transform: translateX(-50%);
    left: 50%;
  }

  .reviews:before {
    content: '';
    position: absolute;
    width: 450px;
    height: 450px;
    top: -7%;
    right: -220px;
    background: #F6F5FA;
    border-radius: 50%;
    z-index: -2;
  }
  .reviews .slick-list {
    padding: 0 0 0 5vw !important;
  }
  .review:before, .review:after {
    width: 54px;
    height: 54px;
  }
  .review:before {
    display: block;    
    top: -46px;
  }
  .review:after {
    top: -14px;
    right: 47px;
  }
  .reviews .slick-slide {
    max-width: 100%;
    width: 100% !important;
    margin: 0 5vw 0 8vw !important;
    padding: 35px 35px 25px 95px;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25) !important;
    transform: scale(1) !important;
    text-align: left;
  }
  .review__image {
    border-radius: 30px;
    left: -40px;
    width: 110px;
  }
  .review__box h4 {
    position: relative;
    top: 0;
    right: 0;
  }
  .review__box p {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 21px;
  }
  .review__rating {
    justify-content: flex-start;
  }
  .review__rating span {
    width: 5vw;
    height: 5vw;
  }
  .review__nav-box {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin: 30px auto 0;
    max-width: 90%;
  }
  .review__nav, .tab__nav {
    margin: 0;
    padding: 0 65px 0 80px;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-arrow.slick-prev {
    left: 0;
    transform: translateY(-50%) rotateY(180deg);
  }
  .slick-arrow.slick-next {
    right: 0;
  }
  .slick-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }  
  .review__count {
    display: none;
  }

  .contacts {
    padding: 35px 0 65px;
  }
  .contacts:before {
    content: none;
  }
  .contacts__wrapper {
    flex-direction: column;
    margin: 50px 0 0;
  }
  .contacs__content {
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }
  .contacts__box {
    width: 50%;
    flex-direction: column;
  }
  .contacts__box:nth-child(1), .contacts__box:nth-child(2) {
    margin-bottom: 30px;
  }
  .contacts__box:last-child {
    width: 100%;
  }
  .contacts__box img {
    margin: 0 0 15px;
  }
  .contacts__phone {
    font-size: 20px;
    line-height: 24px;
  }
  .contacts__map {
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
  }

  footer {
    padding: 45px 0 40px; 
  }
  footer .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .footer__text {
    margin: 45px 0 16px;
  }
  .footer__copyright {
    margin-bottom: 45px;
  }
  .footer__socials img:nth-child(1), .footer__socials img:nth-child(2) {
    margin-right: 21px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    max-width: 253px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .nav__logo {
    width: 30vw;
  }
  header {
    padding: 16vw 0 45px;  
  }
  .header__master {
    width: 27vw;
    right: 5vw;
  }
  .header__wave {
    height: 14vw;
    margin-bottom: 3vw;
    background-image: url("../images/wave-header-mob.svg");
    background-position: 100% 50%;
  }
  .header__box {
    position: relative;
    /*height: 76vh;*/
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .text-block-2 {
    font-size: 4.3vw;
  }
  .text-field {
    width: 120px;
    text-align: left;
  }
  .text-field.first {
    width: 130px;
    margin-right: 20px;
  }
  .div-block-4 {
    max-width: 200px;
    margin-bottom: 8vw;
  }
  
  .order {
    padding: 20vw 0;
  }
  .order__box, .order__box:nth-child(2) {
    width: 100%;
  }
  .order__box:nth-child(1) img {
    margin: 20px 0 -90px auto;
  }
  .order__box:nth-child(2) img,
  .order__box:nth-child(3) img {
    margin: 20px 0 -100px auto;
  }
  .order__box p {
    width: 78%;
    font-size: 22px;
    line-height: 27px;
  }
  
  .advantages {
    padding: 13vw 0 10vw;
  }
  .advantages__wrapper {
    flex-direction: column;
    margin-top: 10px;
  }
  .advantage__box {
    width: 100%;
    max-width: 100%;
    display: flex;
    text-align: left;
  }
  .advantage__image-box {
    margin-right: 15px;
  }
  .advantage__box:nth-child(2) .advantage__image-box:before, 
  .advantage__box:nth-child(4) .advantage__image-box:before, 
  .advantage__box:nth-child(6) .advantage__image-box:before {
    display: none;
  }
  .advantage__box h3 {
    margin-top: 0;
  }
  
  .works__tabs {
    margin-top: 11vw;
  }
  .tabs__menu {
    margin: 0 auto 8vw;
  }
  .tabs__menu li {
    width: 48%;
    font-size: 3.5vw;    
  }
  .works .slick-slide {
    width: 65vw;
    height: 42vw;
  }
  .tab__content .slick-list:before, .tab__content .slick-list:after {
    width: 17vw;
    height: 17vw;
  }
  .tab__content .slick-list:before {
    top: -7vw;
    right: 8vw;
  }
  .tab__content .slick-list:after {
    bottom: -7vw;
    left: 8vw;
  }
  .tabs__content .slick-arrow {
    top: 40% !important;
  }
  .tabs__content.slick-arrow.slick-prev {
    left: -1vw;
  }
  .tabs__content.slick-arrow.slick-next {
    right: -1vw;
  }

  .calc__box h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .calc__value select, .calc__value input {
    font-size: 16px;
  }
  .calc__value select {
    width: 150px;
  }

  .timer {
    padding-bottom: 12vw;
  }
  .timer__wrapper {
    max-width: 85%;
    margin: 0 auto 28vw;
  }
  
  .reviews:before {
    width: 80vw;
    height: 80vw;
    top: -4%;
    right: -30vw;
  }
  .reviews .slick-list {
    padding: 0 0 0 3vw !important;
  }
  .reviews .slick-slide {
    margin: 0 4vw 0 7vw !important;
    padding: 25px 20px 15px 67px;
    border-radius: 50px;
  }
  .review__image {
    width: 78px;
    top: -15px;
    left: -25px;
    border-radius: 30px;
  }
  .review__box h4 {
    font-size: 15px;
    line-height: 18px;
  }
  .review__box p {  
    font-size: 12px;
    line-height: 15px;
  }
  .review__rating span {
    width: 25px;
    height: 25px;
  }
  .slick-arrow {
    width: 35px;
    height: 35px;
  }
  .review:before {
    top: -50px;
    right: -20px;
  }
  .review:after {
    top: -17px;
    right: 26px;
  }
  .review__nav, .tab__nav {
    padding: 0 55px 0 70px;
  }
  .contacts {
    padding: 12vw 0 15vw;
  }
  .contacts__wrapper {
    flex-direction: column;
    margin: 12vw 0 0;
  }
  .contacs__content {
    flex-direction: column;
  }
  .contacts__box {
    flex-direction: row;
    width: 100%;
  }
  .contacts__box:nth-child(1), .contacts__box:nth-child(2) {
    margin-bottom: 30px;
  }
  .contacts__box img {
    margin: 0 25px 0 0;
  }
  .contacts__phone {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (max-width: 412px) {
  h1 {
    margin-bottom: 6vw;
    font-size: 6vw;
    line-height: 1.35em;    
  }
  .container {
    padding: 0 15px;
  }
  .nav__menu {
    width: 55%;
    padding-left: 22px;
  }
  .nav__logo {
    width: 35vw;
  }

  .reason__box {
    padding: 0 0 0 22vw !important;
  }
  .reason__box img {
    width: 17vw;
  }
  .reason__box h3 {
    font-size: 5.4vw;
    line-height: 7vw;
  }
  .reason__box p {
    font-size: 4.2vw;
    line-height: 6vw;
  }

  .order__box img {
    width: 25vw;
  }
  .order__number {
    font-size: 14vw;
    line-height: 16vw;
  }
  .order__box p {
    font-size: 5vw;
    line-height: 6.5vw;
  }
  
  .tabs__menu {
    margin: 0 auto 5vw;
  }
  .works .slick-slide {
    width: 67vw;
  }
  .slick-arrow {    
    width: 9vw;
    max-width: 35px;
    height: 9vw;
    max-height: 35px;
  }
  .tabs__content .slick-arrow.slick-prev {
    left: -1.5vw;
  }
  .tabs__content .slick-arrow.slick-next {
    right: -1.5vw;
  }

  .timer__container h4 {
    font-size: 5.5vw;
  }

  .calc__form {
    padding: 10vw 7vw 9vw;
  }
  .calc__form .title {
    font-size: 6vw;
    margin-bottom: 10vw;
  }
  .calc__value, .calc__form p,
  .calc__value select, .calc__value input {
    font-size: 4vw;
  }
  .calc__value {
    margin-bottom: 5vw;
  }
  .calc__value input {
    width: 15vw;
  }
  .calc__value select {
    width: 38vw;
  }
  .calc__total {
    font-size: 9.5vw;
    line-height: 12vw;
  }
  .calc__form button {
    padding: 4vw 16vw;
    font-size: 5.5vw;
    line-height: 6.6vw;
  }

  .timer:before {
    left: -25vw;
    width: 138vw;
  }

  .contacts__box {
    font-size: 3.5vw;
    line-height: 4vw;
  }
  .contacts__box:nth-child(1) div{
    width: 71%;
  }
  .contacts__box img {
    width: 18vw;
    margin: 0 5vw 0 0;
  }
  .contacts__phone, .contacts__email, .contacts__address {
    margin-bottom: 2vw;
  }
  .contacts__phone, .contacts__email {
    font-size: 5.5vw;
    line-height: 6.5vw;
  }
  .contacts__address {
    font-size: 4.5vw;
    line-height: 5.5vw;
  }
  .contacts__email-caption {
    font-size: 3.15vw;
    line-height: 4vw;
  }
  .footer__text {
    font-size: 6vw;
  }
  .footer__copyright {
    font-size: 4.5vw;
  }
  .footer__socials img {
    width: 12vw;
  }
  .footer__socials img:nth-child(1), .footer__socials img:nth-child(2) {
    margin-right: 3vw;
  }
  
@media screen and (max-width: 360px) {
   
}
@media screen and (max-width: 412px) and (max-height: 700px) {
  .header__box {
    height: 71vh;
  }
  .header__couch {
    display: none;
  }
  .header__dots {
    max-width: 120px;
    top: 175px;
  } 
}